img {
    max-width: 100%;
}

ol {
    list-style-position: inside;
    padding-left: 0;
}

ol.articles-list {
    list-style-type: decimal;
}

.ref-quote {
    margin: 20px;
    padding: 20px;
}
.ref-subquote {
    background: #eee;
    padding: 6px;
    margin: 6px;
    border-radius: 6px;
    border: 1px dashed #aaa;
}

.ref-source {
    font-size: 65%;
    color: #666;
    text-align: right;
}


ol.topics-list {
    list-style-type: circle;
}

.included-article {
    border-radius: 12px;
    border: 1px dashed #aaa;
    padding: 20px;
    margin: 20px;
}

.notice {
    margin: 12px;
    color: #999;
    font-style: italic;
    text-align: right;
}

.error {
    background: lightcoral;
    padding: 12px;
    margin: 6px;
    border-radius: 3px;
}

.biglink {
    font-weight: bold;
    font-size: 140%;
}

.gray {
    color: #888;
}

img {
    max-width: 100%;
    display: block;
    margin: 12px;
}

.video img {
    margin: 10px 10px 10px 0px;
}

.external-link {
    padding: 12px;
    margin: 12px 0px 12px 0px;
    border: 1px solid red;
    border-radius: 12px;
    display: inline-block;
}

.tg-link {
    clear: both;
    display: block;
    background-repeat: no-repeat;
    background-size: 26px 26px;
    min-height: 38px;
    background-position: 3px 6px;
    padding: 6px 6px 6px 36px;
    margin: 8px;
    background-image: url('../resources/telegram.png');
}

.hr {
    color: #666;
}

.left-menu  {
    background: #ddd;
    border-radius: 20px;
    padding: 20px;
}

.header {
    margin-bottom: 10px;
}

.header-notice {
    border: 2px dashed #ccc;
    padding: 10px;
}

.footer {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 2px dashed #ccc;
    margin-bottom: 10px;
}

.content-body {
    padding-bottom: 20px;
}

body {
    margin-top: 16px;
}

a {
    display: inline-block;
    color: rgba(0,144,215,1.0);
    text-decoration: none;
}

.left-menu a {
    display: inline;
    text-decoration: none;
}

.code {
    padding: 12px;
    margin: 4px 0px 4px;
    border-radius: 3px;
    background: #222;
    color: #5cb85c;
    font-family: monospace;
}

.mainlink {
    font-weight: bold;
    font-size: 120%;
}

/* files */

.file-group {
    margin: 12px 0px 12px;
    border: 1px solid #eee;
}

.file-attachment {
    clear: both;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 26px 26px;
    min-height: 38px;
    background-position: 3px 6px;
    background-color: lightyellow;
    border: 1px solid yellow;
    border-radius: 3px;
    padding: 6px 6px 6px 36px;
    margin: 8px;
}

.icon-cloud {
    background-image: url('../resources/mailru.png');
}

.icon-local {
    background-image: url('../resources/local.jpg');
}

.icon-telegram {
    background-image: url('../resources/telegram.png');
}