ol {
    list-style-position: inside;
    padding-left: 0;
}
ol.articles-list {
    list-style-type: decimal;
}

ol.topics-list {
    list-style-type: circle;
}

.included-article {
    border: 1px dashed black;
    padding: 10px;
    margin: 10px 0px 10px;
}
.biglink {
    font-weight: bold;
    font-size: 140%;
}

img {
    max-width: 100%;
    display: block;
    margin: 12px;
}

a.external {
    color: red;
}

.hr {
    color: #666;
}

.file-attachement {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    height: 32px;
    background-position: 3px 6px;
    background-color: lightyellow;
    border-radius: 3px;
    padding: 3px 3px 3px 28px;
    margin-left: 6px;
    margin-right: 6px;
}
.icon-cloud {
    background-image: url('../resources/mailru.png');
}
.icon-local {
    background-image: url('../resources/local.jpg');
}

.icon-telegram {
    background-image: url('../resources/telegram.png');
}

.left-menu  {
    background: #ddd;
    border-radius: 20px;
    padding: 20px;
}

.footer {
    margin-top: 10px;
    border-top: 2px dashed #ccc;
    padding: 10px;
}

.content-body {
    padding-bottom: 20px;
}

body {
    margin-top: 16px;
}

a {
    display: inline-block;
    color: rgba(0,144,215,1.0);
    text-decoration: underline;
}

.left-menu a {
    display: inline;
    text-decoration: none;
}